* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-wrapper {
    width: 100svw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.container-left > img , .container-right > img {
    width: 26px;
}

.nav-head-btn {
    padding: 6px 10px;
    margin: 0;
    border: 0;
}

.left {
    display: flex;
    gap: 10px;
}

.right {
    display: flex;
    gap: 20px;
}

.minus-nav-btn {
    width: 18px;
}

.container-left , .container-right {
    height: fit-content;
}

.container-left {
    display: flex;
    align-items: center;
    gap: 4px;
}

.container-left > img {
    width: 18px;
    margin: 4px;
}

.container-right {
    display: flex;
    background-color: #BCBDBA;
    align-items: center;
    gap: 6px;
}

.container-right > :nth-child(1) {
    width: 18px;
    margin: 4px;
}

.container-right > :nth-child(2) {
    width: 18px;
    margin: 4px;
}
/* minimize-nav-btn */
/* cross-nav-btn */